.SearchBar {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}
.SearchBar p {
  color: #fff
}
label, input, select, button{
margin: 10px;
}
label {
  color: #fff
}